

les règles github pour la syntax:
https://github.com/Simplonline-foad/utiliser-markdown/blob/master/README.md


Set up host name resolution using a hosts file
https://docs.microfocus.com/itom/SMAX:2017.11/Set-up-host-name-resolution-using-a-hosts-file_15372448

Manage users
https://docs.microfocus.com/itom/SMAX:2017.11/Manage-users_15372425
